@media only screen and (max-width :500px) {
    .container {
        width: 80vw;
    }

    .form-group {
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }

   input#btn {
        display: block;
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }

    p {
        width: 70vw;
        margin: 0 auto;
    }

    p > a {
        display: block;    
    }

    #checkbox {
        position: relative;
        top: 2px;
        margin-left: 50px;
        margin-bottom: 10px;
        
    }

    * {
        font-size: 12px;
    }
}
